.Site\.Search\.SearchResultsPanel {
	display: block;
	position: relative;
}

.Site\.Search\.SearchResultsPanel > aside {
	position: absolute;
	margin-top: 0.1em;
	right: 0em;
	width: 5em;
	transition: all 250ms;
}

.Site\.Search\.SearchResultsPanel > article {
	margin-right: 6em;
}

.Site\.Search\.SearchResultsPanel a.ModuleSearchResultsButton {
	display: block;
	position: relative;
	background: white;
	border: 1px solid rgba(16, 64, 128, 0.75);
	padding: 0.3em;
	margin-top: 0;
	margin-bottom: 2.0em;
}

.Site\.Search\.SearchResultsPanel a.ModuleSearchResultsButton:hover {
	box-shadow: 0px 0px 10px 0px rgba(128, 164, 256, 1);
}

.Site\.Search\.SearchResultsPanel a.ModuleSearchResultsButton img {
	position: relative;
	width: 100%;
	height: 100%;
}

.Site\.Search\.SearchResultsPanel a.ModuleSearchResultsButton div.ResultCount {
	position: absolute;
	text-align: right;
	bottom: 0.0em;
	left: 0em;
	right: 0em;
	padding: 0em 0.2em;
	background-color: rgba(212, 228, 255, 1);
	color: black;
	font-weight: bold;
	border-top: 1px solid  rgba(16, 64, 128, 0.75);
}

.Site\.Search\.SearchResultsPanel a.ModuleSearchResultsButton div.ResultCount * {
	display: inline-block;
	vertical-align: middle;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection {
	display: block;
	--background: rgba(96, 164, 255, 0.15);
	margin-bottom: 2em;
	--border: 1px solid rgba(0, 0, 0, 0.3);
}


.Site\.Search\.SearchResultsPanel .SearchResultsSection {
	font-size: 18pt;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > header {
	color: rgb(96, 132, 196);
	margin-bottom: 0.4em;
	font-weight: bold;
	padding: 0em 0.2em 0.2em 0.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > header > * {
	display: inline-block;
	vertical-align: middle;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > header img {
	width: 1em;
	height: 1em;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article {
	display: block;
	padding: 0.1em 1.9em;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article > * {
	font-size: 12pt;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article > div.NoResultsFound {
	font-size: 12pt;
	font-weight: bold;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article div.hasresults {
	display: none;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article div.Searching {
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article div.Searching  div {
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > article div.Searching div.spinner {
	margin: 12px;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > footer {
	padding: 0.1em 1.9em;
	position: relative;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > footer div {
	display: inline-block;
	vertical-align: middle;
	padding: 0.2em 0em;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > footer .Framework\.UI\.Controls\.Button {
	border: none;
	background: none;
	padding: 0em;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > footer .Framework\.UI\.Controls\.Button.Enabled {
	color: blue;
	cursor: pointer;
}

.Site\.Search\.SearchResultsPanel .SearchResultsSection > footer > div.CompletionTime {
	position: absolute;
	right: 0em;
	bottom: 0em;
	font-size: 8pt;
	padding: 0.4em;
}

