.Site\.Search\.SearchControl {
	display: block;    
	background: white;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.1em 0.2em;
}

.Site\.Search\.SearchControl > * {
	vertical-align: middle;
}

.Site\.Search\.SearchControl > .Framework\.UI\.Controls\.Button {
	padding: 0.2em;
	margin: 0.0em;
	opacity: 0;
	transition: opacity 150ms;
}

.Site\.Search\.SearchControl > .Framework\.UI\.Controls\.Button.Enabled {
	opacity: 1;
}

.Site\.Search\.SearchControl img {
	width: 1em;
	height: 1em;
	opacity: 0.6;
	transition: all 150ms;
}

.Site\.Search\.SearchControl img:hover {
	opacity: 1;
}

.Site\.Search\.SearchControl input[type=text] {
	font-size: 10pt;
	border: none;
}

.Site\.Search\.SearchControl input[type=text]::-ms-clear {
    display: none;
}

