.Site\.Batching\.BatchInfoControl {
	display: inline-block;
}

.Site\.Batching\.BatchInfoControl > .Framework\.UI\.Controls\.ToggleButton {
	background: none !important;
	border: none;
	margin: 0.2em;
	padding: 0.2em 0.5em;
	transition: all 150ms;
}

.Site\.Batching\.BatchInfoControl > .Framework\.UI\.Controls\.ToggleButton.Checked {
	background: rgba(32, 64, 128, 0.2) !important;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.Site\.Batching\.BatchInfoControl > .Framework\.UI\.Controls\.ToggleButton * {
	display: inline-block;
	vertical-align: middle;
}

.Site\.Batching\.BatchInfoControl > .Framework\.UI\.Controls\.ToggleButton img {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.4em;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopup {
	position: absolute;
	display: none;
	z-index: 1000;
	width: 25em;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopup:focus {
	outline: none;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopup.visible {
	display: block;
	animation: BatchManagerPopupFadeIn 150ms;
	animation-fill-mode: forwards;
	-webkit-animation: BatchManagerPopupFadeIn 150ms;
	-webkit-animation-fill-mode: forwards;
}

@keyframes BatchManagerPopupFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes BatchManagerPopupFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupTop {
	position: absolute;
	z-index: 2000;
	height: 1em;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupContent {
	display: inline-block;
	position: absolute;
	top: 0.3em;
	background: rgba( 224, 238, 256, 1 );
	border-radius: 0.3em;
	border: 1px solid rgba( 164, 196, 256, 1 );
	box-shadow: 3px 3px 10px rgba( 32, 64, 128, 0.5 );
	min-height: 10em;
	max-height: 30em;
	width: 20em;
	overflow: hidden;
}


.Site\.Batching\.BatchInfoControl div.BatchToolbar {
	padding: 0.25em 0.5em;
	text-align: left;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.25 );
	background: rgba( 255, 255, 255, 0.5 );
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupContent .Framework\.UI\.Controls\.Button {
	border: none;
	background: none;
	transition: color 150ms;
	padding: 0em 0.25em;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupContent .Framework\.UI\.Controls\.Button.Enabled {
	cursor: pointer;
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupContent .Framework\.UI\.Controls\.Button.Enabled:hover {
	color: rgba( 160, 160, 160, 1 );
}

.Site\.Batching\.BatchInfoControl div.BatchManagerPopupContent div.BatchItemsList {
	padding: .2em 0em;
	min-height: 3em;
	max-height: 20em;
	overflow-y: auto;
	text-align: left;
}

