.Site\.Batching\.BatchItem {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0.25em;
	cursor: default;
	transition: all 150ms;
	border-bottom: 1px solid rgba(32, 64, 128, 0.1);
}

.Site\.Batching\.BatchItem:hover {
	background: rgba( 100, 180, 255, 0.25 );
	box-shadow: 0px 0px 3px rgba( 255,255,255, 10.5 ) inset;
}

.Site\.Batching\.BatchItem > * {
	display: inline-block;
	vertical-align: middle;
}

.Site\.Batching\.BatchItem > .Framework\.UI\.Controls\.Button {
	padding: 0em !important;
	margin: 0em !important;
	position: absolute;
	right: 0.2em;
	height: 1.03em;
	width: 1.05em;
	font-size: 12pt;
	cursor: pointer;
	transition: all 150ms;
}

.Site\.Batching\.BatchItem .RemoveBatchItem {
	opacity: 1;
	background: rgba( 32, 64, 128, 0.2 );
	width: 1em;
	height: 1em;
	border-radius: 1em;
	color: rgba( 255, 255, 255, 0.8 );
	border: 1px solid rgba( 64, 128, 232, 0.4 );
	text-align: center;
	position: absolute;
	text-shadow: none;
}

.Site\.Batching\.BatchItem:hover .RemoveBatchItem {
	opacity: 1;
	transition: all 150ms;
}

.Site\.Batching\.BatchItem > .Framework\.UI\.Controls\.Button:hover .RemoveBatchItem {
	background: rgba( 255, 255, 255, 0.75 );
	border: 1px solid rgba( 212, 244, 255, 1 );
	color: rgba( 10, 100, 155, 1 );
}

.Site\.Batching\.BatchItem > .Framework\.UI\.Controls\.Button:active .RemoveBatchItem {
	background: rgba( 32, 64, 128, 0.5 );
	border: 1px solid rgba( 32, 64, 128, 0.75 );
	color: rgba( 255, 255, 255, 1 );
}

.Site\.Batching\.BatchItem .RemoveBatchItem:after {
	content: '×';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0%;
	top: -0%;
	line-height: 0.9em;
}
