<tgmb:TestBatchOperationControl
	xmlns:fuic="Framework.UI.Controls;Button"
	xmlns:tgmb="Site.Batching;TestBatchOperationControl"
	localize="false"
>
	Hello world!!!!
	
	<fuic:Button
		command="{Binding clearOperationCommand, source={RelativeSource type={x:Type tgmb:BatchOperationPanel}}}">
		Go back.
	</fuic:Button>
</tgmb:TestBatchOperationControl>