<tgm:ApplicationPanel
	xmlns:fuic="Framework.UI.Controls;Template"
	xmlns:tgm="Site;ApplicationPanel"
	x:stylesheet="Site.ApplicationPanel"
>

<div class="Application" >
	TAG_Application
</dev>

<div class="Test">
</div>

</tgm:ApplicationPanel>