@import url(Browser.css);
@import url(Forms.css);
@import url(Spinner.css);

.Site\.MainPanel {
	display: block;
	position: relative;
	min-height: 100%;
}

.Site\.MainPanel > header {
	box-shadow: 0px 0px 10px rgba(0, 0, 64, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-color: grey;
	background: #232729;
	height: 14em;
}

.Site\.MainPanel > header > div.HeaderContents {
	position: absolute;
	top: -0.7%;
	left: 17.5%;
}

.Site\.MainPanel > header > div.HeaderContents .Framework\.UI\.Controls\.Button {
	background: none;
	border: none;
}

.Site\.MainPanel > header > div.Links {
	position: absolute;
	top: 19%;
	left: 17.5%;
}

.Site\.MainPanel > header > div.Links .Framework\.UI\.Controls\.Button {
	background: none;
	border: none;
	color: grey;
}

.Site\.MainPanel > header > div.Links .Framework\.UI\.Controls\.Button :hover {
	color: white;
	transition: color 250ms;
}

.Site\.MainPanel > article {
	border-color: grey;
	background: #232729;
	overflow: hidden;
}