<tgm:MainPanel
	xmlns:fuic="Framework.UI.Controls;Button,ContentControl,ItemsControl"
	xmlns:fuicv="Framework.UI.Converters;BoolToValueConverter"
	xmlns:tgm="Site;MainPanel,AboutPanel"
	xmlns:tgmg="Site.Globalization;LanguageControl"
	x:stylesheet="Site.MainPanel">
  
	<header>
		<div class="HeaderContents">
			<fuic:Button command="{Binding showHomeCommand}" class="HeaderLogo">
				<img source="{PathResource './Images/GuildLogo.png'}" />
			</fuic:Button>
		</div>
	</header>

</tgm:MainPanel>
